<div id="header"></div>
<div class="left"></div>
<div class="stuff">


  <p class="head">Skills</p>
  <ul>
    <li>Web Design with HTML & CSS</li>
    <li>Cooking in extreme contidions</li>
    <li>Control of the Universe</li>
  </ul>
  <p class="head">Education</p>
  <ul>

      <li>Wilton High School</li>


      <li>Silvermine School of Arts</li>

    <li>Codeacademy</li>
  </ul>
  <p class="head">Experience</p>
  <ul>

    <li>QA in NY city hall</li>
    <li>Spy in the Kremlin</li>
    <li>Software developer in all global companies</li>
  </ul>
  <p class="head">Extracurriculars</p>
  <ul>
    <li>Recycling Club</li>
    <li>Aikido Martial Club</li>
    <li>Dancing Birds Club</li>
  </ul>
  <br>
</div>
<!-- <div class="right"></div>
<div id="footer">
  <h2 id="name">Emily</h2></div> -->
